/* --	palletes colors --	 */
/*	---------------------	*/
/* family */
/* size */
/* General Indexes */
/* Global Transitions */
/* Dependencies components global settings */
.listFirstItem {
  border-top-left-radius: 0px; }

.list-group-item.active {
  background-color: #2196F3;
  border-color: #2196F3;
  text-align: center; }

/**/
.row {
  margin-right: 0px;
  margin-left: 0px; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #ebf5fe; }

/* Italics for inputs*/
::-webkit-input-placeholder {
  font-style: italic; }

:-moz-placeholder {
  font-style: italic; }

::-moz-placeholder {
  font-style: italic; }

:-ms-input-placeholder {
  font-style: italic; }

/**/
html, body, div#root, .div-app-wrapper {
  height: 100%;
  width: 100%;
  margin: auto; }
